apiVersion: apps/v1
kind: Deployment
metadata:
  name: shop-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shop
  template:
    metadata:
      labels:
        app: shop
    spec:
      containers:
        - name: shop-container
          image: spartan0007/shop:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80