.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #0d192d;
  color: #fff;
}

.nav-prod-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    background-color: black;
  }
}
