.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #202c38;
  color: #fff;
  margin: -10px;
}

.nav-prod-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-cart-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    background-color: black;
  }
  .prod {
    display: none;
  }
}
