.product {
  border: 1px solid #202c38;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
}

.img-div img {
  width: 100%;
}

.img-div,
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart,
.remove-from-cart {
  padding: 10px 15px;
  width: 100%;
  background-color: #354a5e;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}

.add-to-cart:hover {
  background-color: #fff;
  color: #354a5e;
}

.remove-from-cart {
  background-color: #db201d;
}

.remove-from-cart:hover {
  color: #db201d;
  background-color: #fff;
}
